body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 20px;
}

h1 {
  color: darkblue;
}

h2 {
  color: #333;
}

p {
  font-size: 18px;
}

.links {
  margin-bottom: 20px;
}

.links a {
  text-decoration: none;
  margin-right: 10px;
  color: green;
}

ul {
  background: white;
  padding: 20px;
  width: 200px;
}
